:root {
  --primary-color: #3498db;
  --secondary-color: whitesmoke;
  --background-color: #333;
  --text-color: whitesmoke;
  --main-color: #3498db;
}

@font-face {
  font-family: proxima;
  src: url('fonts/ProximaSoft.woff2') format('woff2'),
       url('fonts/ProximaSoft.woff') format('woff');
}

@font-face {
  font-family: proxima;
  src: url('fonts/ProximaSoftSemibold.woff2') format('woff2'),
       url('fonts/ProximaSoftSemibold.woff') format('woff');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: proxima, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
}

#logo span {
  color: var(--main-color) !important;
}

header {
  background-color: var(--background-color);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  max-height: 4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}


header section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header section a,
header section a:hover,
header section a:visited,
header section a:link,
header section a:active {
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background-color);
}

main {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding-top: 4rem;
  padding: 40px 20px;
  font-family: proxima, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  min-height: calc(100vh - 288px);
}

.slogan {
  text-align: center;
  margin-bottom: 40px;
}

.slogan .title {
  font-size: 3em;
  color: black;
}

.slogan .wise {
  color: var(--main-color);
}

.slogan .tagline {
  font-size: 1.5em;
  color: black;
}

.slogan .blue {
  color: var(--main-color);
}

.proposta-de-valor {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

.proposta-de-valor h2 {
  text-align: center;
  color: var(--main-color);
  margin-bottom: 20px;
}

.pontos-de-valor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ponto {
  flex: 1;
  margin: 10px;
  max-width: 300px;
  text-align: center;
}

.ponto h3 {
  color: var(--main-color);
  margin-bottom: 10px;
}

.ponto p {
  color: var(--background-color);
}

.chamada-para-acao {
  text-align: center;
  background-color: var(--main-color);
  color: var(--text-color);
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.chamada-para-acao h2 {
  margin-bottom: 20px;
}

.chamada-para-acao p {
  margin-bottom: 20px;
}

.chamada-para-acao .botao-cta {
  display: inline-block;
  background-color: var(--text-color);
  color: var(--main-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.chamada-para-acao .botao-cta:hover {
  background-color: #e6e6e6;
}

.botao-cta{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

footer {
  background-color: var(--background-color);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

footer span#mark {
  color: var(--main-color);
}

footer nav {
  display: flex;
  gap: 1rem;
}

.rounded-box {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 2rem;
  border-radius: 10px;
  margin: 2rem auto;
  max-width: 600px;
  text-align: center;
  width: 45%;
}

.intro-text {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sub-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.start-input,
.end-input {
  width: 200px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  color: gray;
}

.search-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #2980b9;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.swap-button,
.change-city-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.swap-button:hover,
.change-city-button:hover {
  background-color: #2980b9;
}

.cities-box {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 2rem;
  border-radius: 10px;
  margin: 2rem auto;
  max-width: 600px;
  text-align: center;
}

.cities-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cities-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.cities-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.cities-button:hover {
  background-color: #2980b9;
}

.logoutButton, .delete-button{
  background-color: red;
  color: white;
  border: none;
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #962121;
}

.deleteUserButton{
  background-color: rgb(143, 0, 0);
  color: white;
  border: none;
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.deleteUserButton:hover {
  background-color: rgb(105, 0, 0);
}

.saveButton, .add-button, .edit-button{
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saveButton:hover {
  background-color: #2980b9;
}

ul, li {
  list-style: none;
}

ul{
  padding-left: 0px !important;
}

a:not(.adp a, .botao-cta, span > a) {
  color: white !important;
}

li{
  margin-bottom: 10px;
}

#username, #name, #birth, #address, #email, #phone, #password, #role{
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #000000;
}

input[readonly] {
  background-color: #999999;
  cursor: not-allowed;
  border: none;
  box-shadow: inset 0 0 3px #616161;
  pointer-events: none;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

header.dark-mode, footer.dark-mode {
  background-color: #343a40;
  color: #f8f9fa;
}

main.dark-mode {
  background-color: #343a40;
}

#noRouteFound {
  color: black !important;
}

#sidebar {
  background-color: #ffffff !important;
}

.dark-mode #noRouteFound {
  color: white !important;
}

.dark-mode #sidebar {
  background-color: white !important;
}

.dark-mode .nav-link {
  color: white;
}

.dark-mode .nav-link:hover {
  color: #bbbbbb;
}

.dark-mode .nav-link.active {
  color: #f8f9fa;
}

.dark-mode #noResultsMessage{
  color: white !important;
}

.light-mode {
  background-color: white;
  color: black;
}


.light-mode .nav-link {
  color: black;
}

.light-mode .nav-link:hover {
  color: #555555;
}

.light-mode .nav-link.active {
  color: #000000;
}

.dark-mode #noResultsMessage{
  color: white !important;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggle-switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input[type="checkbox"]:checked + .toggle-slider {
  background-color: #2196F3;
}

input[type="checkbox"]:checked + .toggle-slider:before {
  transform: translateX(20px);
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #000000;
}

select option {
  color: #000000;
}
